accelerate>=1.13.0
diffusers>=0.37.1
easydict
einops
huggingface_hub>=0.34.0
hf-transfer>=0.1.9
hf_xet>=1.1.0
imageio>=2.0.0
numpy>=1.21.0
opencv-python-headless
pillow>=9.0.0
plyfile
safetensors
scipy
timm
tqdm
transformers>=4.56.0,<5.4
trimesh[easy]
utils3d
moge @ git+https://github.com/microsoft/MoGe.git@07444410f1e33f402353b99d6ccd26bd31e469e8
